body{
    #signupModal,
    #forgetpass,
    #resetpass,
    #newresetpass
    {
        text-align: center !important;
    }
    .signmodel{
        .footer{
            font-size: $size-12;
            margin-top:$size-10;
            label{
                padding: $size-5;
            }
            a{
                color: $secColor;
            }
            label{
                color: $forthcolor;
            }
            p{
                color: $forthcolor;
            }
        }
    }
    .pillsstyle{
        li {
            width: 48%;
            a {
                padding: 5px 30px;
                font-size: 12px;
                background-color: $thirdColor;
                color: white;
                &:hover{
                    background-color: $secColor;
                }
            }
            &:active {
                a{
                    background-color: $secColor !important;
                }
                
            }

        }
    }
    .myModalLabel{
        margin: $size-20;
        text-transform: uppercase !important;
    }
    .signupform {
        input{
            margin: $size-10 0px;
        }
        button{
            background-color: $secColor;
            padding: 5px;
            width: 100%;
            color: white;
            border-radius: 4px;
        }
    }
// sideprofile
    .sideprofile {
        border-left: 1px solid $forthcolor;
        border-right: 1px solid $forthcolor;
        border-bottom: 1px solid $forthcolor;
        border-radius: $size-10;
        ul{
            border-bottom:0px;
            li{
                &:not(:last-child) {
                    border-bottom: 1px solid $forthcolor;
                }
                &:hover {
                    a{
                        border: 1px solid transparent;
                    }
                }
                &:active{
                    a{
                        border: 0px;
                        color: black;
                        font-weight: 500;
                    }
                }
            }
        }

    }
}

.ml-ne{
    margin-left: -15px;
}