header {

    // min-height: 100vh;
    // background: url(../images/003.png);
    // background-size: cover;
    .upnav {
        background-color: $stColor;
        color: white;
        text-align: center;
        padding: 5px 0px;
        font-size: $size-12;

        span {
            padding: 0px $size-20;
        }
    }

    //background: url(../images/003.png);
    //background-position: center;
    //background-size: cover;
    //background-repeat: no-repeat;

    .language-area {
        text-align: left;
        padding: $size-12 0px;
        background-color: white;

        .container {
            padding: 0;

            span {
                margin: 0px $size-5;
            }
        }
    }

    nav {
        background-color: $stColor;
        border-radius: 0px !important;
        margin-bottom: 0 !important;

        .container {
            .navbar-header {
                a.navbar-brand {
                    height: 120px;
                    padding: .25em;
                }

                span.fa-bars {
                    color: white;
                    font-size: 2em;
                }
            }

            ul.navbar-nav {
                li.active {
                    a {
                        color: $secColor;
                    }
                }

                li {

                    // padding: 2.5em 1em 2.5em 0;
                    a {
                        font-family: $baseFont;
                        color: $white;

                        &:hover {
                            color: $secColor;
                        }
                    }
                }
            }

            ul.navbar-left {
                li {
                    a {
                        background-color: $secColor;
                        font-family: $baseFont;
                        padding: 1em 1.5em;
                        border-radius: 4px;

                        &:hover {
                            color: $stColor;
                        }
                    }
                }
            }
        }
    }

    // .tele-academy-des {
    //     padding: 6em 0 12em 0;
    //     h3 {
    //         color: $white;
    //         font-family: 'ITC-bd';
    //         a {
    //             color: $secColor;
    //             font-family: 'ITC-bd';
    //             font-size: 2.5em;
    //         }
    //     }
    //     p {
    //         color: $white;
    //         width: 80%;
    //         margin: auto;
    //         line-height: 2;
    //         font-size: 17px;
    //     }
    // }
    // .tele-academy-paging {
    //     padding: 1em 0 4em;
    //     a {
    //         color: $white;
    //         font-size: 22px;
    //     }
    //     span {
    //         color: $secColor;
    //         font-size: 3em;
    //         font-weight: bold;
    //     }
    // }
}

// home style
.tele-academy-paging {
    background: url(../images/bg.png);
    background-size: cover;
    height: calc(100vh - 147px);

    h2 {
        color: white;
        letter-spacing: 10px;
        text-transform: uppercase;
        margin-bottom: $size-30;
    }


    p {
        color: white;
        font-size: $size-12;
    }

    a {
        color: white;
        font-size: $size-12;
        text-transform: uppercase;
        text-decoration: underline;
    }
    .newmemb {
        background-color: $secColor;
        color: white;
        padding: $size-10 $size-20;
        text-transform: uppercase;
        margin: $size-20;
        font-size: $size-12;
        border-radius: $size-5;
        text-decoration: none;
    }

}




.px-5 {
    padding: 0 5px;
}

.color-white {
    color: white;
}