.main-filter {
    border: 1px solid #f1f3f5;
    padding: $size-14;
    min-height: 70vh;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    .collapse-area {
        .panel-heading {
            padding: 0 $size-10 !important;
            background-color: transparent !important;
        }
        .panel-body {
            padding: 0 20px;
        }
        .panel-default {
            border-color: transparent !important;
        }
        i.fa-chevron-down {
            // width: 100px;
            text-align: end;
        }
    }
}
.notifications {
    &-card {
        border: 1px solid #f1f3f5;
        padding: $size-14;
        p, span {
            font-weight: 400 !important;
        }
        img {
            border-radius: 50%;
        }
    }
}
a {
    &:focus, &:hover {
        text-decoration: none !important;
    }
}
.padding-adjust {
    padding: 10px 30px !important;
}
.place-ad {
    border: 1px solid $graybg;
    margin-bottom: 4rem;
}
.red-dot {
    position: absolute;
    right: 29px;
    left: 0;
    top: 15px;
    width: 7px;
    height: 7px;
    background-color: red;
    border-radius: 50%;
    border: 1px solid white;
}
textarea {
    width: 100%;
    border-radius: 4px;
    padding: 10px;
    border: 1px solid rgba($color: #929292, $alpha: .5);
}
.comment-area {
    background-color: #f8f8f8;
    padding: 30px 0;
    margin-bottom: 5px;
}
.btn-link {
    border: 1px solid;
    border-radius: 6px;
    padding: 7px 24px !important;
    &:hover {
        border: 1px solid;
        text-decoration: none;
    }
}
.my-0 {
    margin-bottom: 0;
    margin-top: 0;
}
.contact-us {
    transform: translateY(-130px);
    background-color: white;
    border-radius: 4px;
    padding: 40px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #eee !important;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    border: none !important;
}
.nav-tabs>li>a {
    margin-right: 0 !important;
}
.form-horizontal .control-label {
    text-align: justify !important;
}
.time {
    // position: absolute;
    // right: .5rem;
    // top: 1.35rem;
    font-size: 10px;
    float: left;
    margin-top: 4px;
}
.count {
    font-size: 7px;
    background-color: #434a51;
    border-radius: 5px;
    text-align: center;
    color: white;
    padding: 3px 4px 2px;
    float: left;
}

.bg-gray {
    background-color: $graybg;
}
.style-adjust {
    margin: 0 !important;
    // border-bottom: 1px solid #EEE;
    border-top: 1px solid #EEE;
    background-color: white !important;
}
.margin-adjust {
    margin-left: 35px;
}
.chat-p-left {
    text-align: justify;
    background-color: $stColor;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 16px;
    margin-right: auto;
    max-width: 50%;
    border-top-left-radius: 0;
}
.chat-p-right {
    // text-align: right;
    direction: rtl;
    // background-color: $secColor;
    // color: white;
    border: 1px solid #dddddd;
    padding: 10px;
    margin: 10px;
    border-radius: 16px;
    max-width: 50%;
    border-top-right-radius: 0;
}
.rtl {
    direction: rtl;
}
.h-60 {
    height: 45vh;
    overflow: overlay;
}
.chat-size {
    position: relative;
    height: 65.25vh;
    border: 1px solid #f6f7f9;
    .input-group {
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        padding: 15px;
    }
}
.search-here {
    margin: 14px auto;
    text-align: center;
    width: auto;
}
.user-name {
    border-bottom: 1px solid #f6f7f9 ;
    display: flex;
    justify-content: space-between;
    &__borderless {
        border-bottom: none;
    }
    a {
        font-size: 13px;
        text-decoration: underline;
        font-weight: bold;
    }
}
.chat-area {
    max-height: 45vh;
    overflow: overlay;
}
::-webkit-scrollbar-thumb {
    background: #20AB96;
    border-radius: 20px;
}
::-webkit-scrollbar {
    width: 5px;
}
.check-adjust {
    margin-top: 2px !important;
}
.mt-0 {
    margin-top: 0;
}
.fa-star, .fa-star-o {
    color: #ffa41b;
    font-size: 20px;
    cursor: pointer;
}
.pt-0 {
    padding-top:0 !important;
    padding-bottom:0 !important;
}
.pt-20 {
    padding-top:20px !important;
}
.pt-30 {
    padding-top:30px !important;
}
hr {
    margin-top: 0 !important;
}
.h-50 {
    // height: 150px !important;
    // width: 150px !important;
}
.slick-list {
    // padding: 0 !important;
    // max-height: 200px !important;
    // margin-top: 20px;
    // margin-bottom: 20px;
}
.slick-track {
    // max-width: 120px;
    // display: flex;
    // justify-content: center;
    // align-items: center;
}
.slick-slide {
    // max-width: 150px !important;
    height: 60% !important;
    display: flex !important;
    margin: 20px 0;
    &.item {
        height: 100px !important;
    }
    img {
        margin: 0 auto !important;
        max-height: 100% !important;
    }
}
.slider-nav .item {
    height: 100px;
    line-height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shadowed {
    box-shadow: 0px 3px 20px #00000029;
    padding: 2rem;
    border-radius: 10px;
}
.btn {
    padding: 6px 24px;
}
.notifications-card {
    &.type-1 {
        border: 1px solid $stColor !important;
        border-radius: 4px !important;
    }
    &.type-2 {
        border-radius: 4px !important;
        background-color: #f8f8f8 !important;
    }
}
.setting-title{
    padding: 20px;
    border: 1px solid #f1f3f5;
    border-radius: 20px;
    margin-top: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    p{
        display: flex;
        justify-content: space-between;
    }
    img{
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }
    ul{
        li{
            display: inline-block;
            padding: 10px;
            color:$thirdColor;
        }
    }
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
    background-color: white;
    border: 1px solid #ddd;
    width: 98.5%;
  }
  .checkbox-adjust {
      height: 60px;
      cursor: pointer;
      strong {
        position: absolute;
        z-index: 9;
        display: flex;
        align-items: center;
        padding-right: 32px;
        padding-left: 10px;
        font-size: 12px;
        max-width: 85%;
      }
      i {
        position: absolute;
        z-index: 9;
        left: 1rem;
        display: flex;
        &.icon-car {
            right: 1rem;
            left: auto;
            padding: 5px 3px 5px 6px;
            background-color: #20ab96;
            color: white !important;
            border-radius: 4px;
            margin-right: 4px;
            top: 15px;
        }
      }
  }
  /* On mouse-over, add a grey background color */
  .checkbox-adjust:hover input ~ .checkmark {
    background-color: #ccc;
    border-radius: 4px;
  }
  
  /* When the radio button is checked, add a blue background */
  .checkbox-adjust input:checked ~ .checkmark {
    background-color: $stColor;
    border-radius: 4px;
  }
  .checkbox-adjust input:checked ~ strong, 
  .checkbox-adjust input:checked ~ i.icon-go {
      color: white !important;
  }
  .checkbox-adjust input:checked ~ i {
    &.icon-car {
        right: 1rem;
        left: auto;
        padding: 5px 3px 5px 6px;
        background-color: white;
        color: #20ab96 !important;
        border-radius: 4px;
        margin-right: 4px;
        top: 15px;
    }
  }
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .checkbox-adjust input:checked ~ .checkmark:after {
    display: block;
  }
  
.checkbox-card {
    border: 1px solid #ddd;
    padding: 18px 10px 18px 15px;
    border-radius: 4px;
    background-color: rgb(248 248 248);
}
.color-red {
    color: red;
}
.login-p{
    .illustrated {
        background: url(../../images/illustrations_images/login_photo.png);
        background-size: cover;
        height: 72vh;
        @media(max-width: 991px) {
            height: 55vh;
        }
        @media(max-width: 767px) {
            display: none ;
        }
    }
    .form-section {
        box-shadow: -1px 2px 5px 0px #80808069;
        margin: 40px 0;
        .row {
            display: flex;
            align-items: center;
            @media(max-width: 991px) {
                min-height: 55vh;
            }
        }
    }
}
.px-30 {
    padding: 0 30px !important;
}
.pa-9 {
    padding: 9px !important;
}
.underlined {
    text-decoration: underline;
}
.icon-go {
    color: $stColor;
    font-size: 18px !important;
}
.d-flex {
    display: flex;
    align-items: center;
}
.space-around {
    justify-content: space-around;
}
.signmodel {
    .modal-content {
        max-width: 400px;
        margin: auto;
        padding: 30px !important
    }
    ul {
        li {
            img {
                border: 1px solid #ddd;
                padding: 16px 32px;
                border-radius: 4px;
                &.primary {
                    background-color: $stColor;
                }
                &.gray {
                    background-color: #ddd;
                }
            }
        }
    }
}
button.close {
    background-color: black;
    color: white;
    padding: 0px 7px 4px 7px;
    text-shadow: none;
    opacity: 1;
    border-radius: 4px;
    position: absolute;
    left: 15px;
    top: 15px;
    &:hover {
        color: white;
    }
}